body {
    width: 700px;
    border: 2px solid green;
}
#header {
    margin: 100px 100px 0 100px;
    text-align: center;
}

#message {
    font-size: 25px;   
    margin-left: 190px; 
}

#puzzle-container {
    font-size: 25px;   
    margin-left: 200px; 
    margin-bottom: 20px;
}

#result-div {
    margin-left: 200px;
    margin-top: 50px;
    height: 450px;
}




#correct {
    display: none;
    background-color: green;
}

#incorrect {
    display: none;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.grey {
    background-color: grey;
}

td {
    height: 40px;
    width: 40px;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}

