body {
}
#header {
    margin: 100px 100px 0 100px;
    text-align: center;
}

#message {
    font-size: 25px;   
    margin-left: 260px; 
}

#puzzle-container {
    font-size: 25px;   
    margin-left: 290px; 
}

#result-div {
    margin-left: 300px;
    margin-top: 50px;
}




#correct {
    display: none;
    background-color: green;
}

#incorrect {
    display: none;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.grey {
    background-color: grey;
}

td {
    height: 40px;
    width: 40px;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    font-size: 35px;
    text-align: center;
}


