body {
    margin: 40px;
    padding: 40px;
    text-align: left;
    background-color: #AA1803;

    ;
}

#group-details-container,
#input-container {
    
    padding: 30px;
    border: 5px solid #BD613C;
    border-radius: 10px;
}



#input-container {
    display: none;
}


h1 {
    font-size: 40px;
    color: white;
}

label {
    color: white;
    margin-top: 15px;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

textarea {
    margin-bottom: 15px;
}


p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
}

.button {
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    background-color: #0F8A5F;

}
